test.njk
.ipynb_checkpoints
__pycache__
.micromamba
logs
IHF_SPIKES
.vscode
.claude
CLAUDE.md
ANF_SPIKETRAINS
results/*
RESULTS/
**/*.pic
myoga_cache
secrets
.python-version
results
.DS_Store
simulate/jobs/*
reconstruction/LFP_reconstruction/report_lfp_reconstruction.tex
reconstruction/ABR_reconstruction/figures
reconstruction/commands.txt
reconstruction/ABR_reconstruction/plots/tolnai.py
x86_64
data/atlases/
TEMPORARY/
data/SOFA
reconstruction/tests/__pycache__
external/