test.njk
.ipynb_checkpoints
__pycache__
.micromamba
logs
IHF_SPIKES
.vscode
.claude
ANF_SPIKETRAINS
results/*
**/*.pic
myoga_cache
data/**/**
data/Dimensions.xlsx
secrets
.python-version
results
.DS_Store
simulate/jobs/*