test.njk
.ipynb_checkpoints
__pycache__
.micromamba
logs
IHF_SPIKES
.vscode
.claude
ANF_SPIKETRAINS
results/*
RESULTS/
**/*.pic
myoga_cache
data/**/**
data/Dimensions.xlsx
secrets
.python-version
results
.DS_Store
simulate/jobs/*
LFP_reconstruction/run_commands.txt
LFP_reconstruction/report_lfp_reconstruction.tex
x86_64